<!-- Table Header -->
<table class="table-fixed w-full text-left text-[14px]">
  <thead>
    <tr class="border-b bg-[#e9f6f6]">
      <th class="p-2 px-3 font-semibold">UserName</th>
      <th class="p-2 px-3 font-semibold">Action</th>
    </tr>
  </thead>
</table>

<!-- Scrollable Table Body -->
<div class="h-[63%] overflow-y-auto">
  <table class="table-fixed w-full text-left text-[14px]">
    <tbody>
      @for (data of usersData; track $index) {
        <tr class="border-b border-b-[#edf1f2]">
          <td class="p-3 font-light">{{ data }}</td>
          <td class="p-3">
            <div class="relative group">
              <!-- Edit Icon -->
              <button class="text-teal-500 hover:text-teal-600" (click)="openModal()">
                <i
                  class="fas fa-pen-to-square text-teal-500 text-[15px] font-semibold hover:text-teal-600 cursor-pointer"></i>
              </button>

              <!-- Tooltip -->
              <div
                class="absolute z-20 bottom-[-57px] left-[-15px] mb-1 hidden group-hover:flex items-center justify-center whitespace-nowrap rounded border border-teal-400 bg-white p-2 text-sm text-gray-700 shadow-lg">
                <div
                  class="absolute left-1/2 top-[-5px] -translate-x-1/2 w-2 h-2 rotate-45 border-l border-t border-teal-400">
                </div>
                Edit
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="flex items-center space-x-10 p-4 text-sm text-gray-700">
  <!-- Items per page -->
  <div class="flex items-center space-x-2">
    <span class="text-[12px] text-black/50">Items per page:</span>
    <div class="relative">
      <select class=" border-b-2 px-3 focus:outline-none font-semibold">
        <option>20</option>
        <option>50</option>
        <option>100</option>
        <option value="">200</option>
        <option value="">500</option>
      </select>
    </div>
  </div>

  <!-- Range display -->
  <span class="text-black/50">1 – 20 of 32</span>

  <!-- Pagination buttons -->
  <div class="flex items-center space-x-3">
    <!-- First Page -->
    <button class="text-gray-400 font-semibold text-md hover:text-gray-600">
    | <i class="fas fa-angle-left"></i>
    </button>
    <!-- Previous -->
    <button class="text-gray-400 hover:text-gray-600">
      <i class="fas fa-angle-left"></i>
    </button>
    <!-- Next -->
    <button class="text-gray-600 hover:text-gray-800">
      <i class="fas fa-angle-right"></i>
    </button>
    <!-- Last Page -->
    <button class="text-gray-600 hover:text-gray-800 font-semibold">
      <i class="fas fa-angle-right"></i> |
    </button>
  </div>
</div>

<ng-container *ngIf="isEditingGroup">
 <!-- Overlay -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <!-- Modal -->

<div class="flex-column bg-white">
    <div class="bg-[#4cb2b2] text-white py-2 px-32 mb-5">
        <h5 class="text-sm">Edit User Productivity profie</h5>
    </div>
    <div class="px-10 pb-4">
        <label for="" class="text-sm text-black/50 w-full">Productivity profile name <span class="text-red-500/60">*</span></label>
        <select name="" id="" class="w-full border p-2">
            <option value="">
                Default
            </option>
            <option value="">Abc</option>
        </select>
    </div>
    <div class="flex items-center justify-center pb-2 gap-2">
        <button class="bg-white border shadow p-1.5 px-4 text-sm" (click)="closeModal()" ><i class="fas fa-times mr-1 text-sm text-black/50"></i> Cancel</button>
        <button class="bg-[#4cb2b2] shadow text-white px-4 p-0.5 text-sm" (click)="closeModal()"><i class="fas fa-save text-lg"></i>
 Save</button>
    </div>
</div>
</div>

</ng-container>
