 <div class="w-full p-1">
    <!-- Sub Tabs -->
    <div class="flex border-b-[rgba(76,178,178,0.3)] text-[14px] border-b-2 mb-1 text-[#707070] hover:cursor-pointer">
      <div [ngClass]="{'border-b-2 border-teal-500 text-[#4cb2b2]': selectedTab=='Productivity'}" class=" w-[11%] text-center p-1 cursor-pointer" (click)="setTab('Productivity')">Productivity Profile</div>
      <div [ngClass]="{'border-b-2 border-teal-500 text-[#4cb2b2]': selectedTab=='Mapping'}" class=" w-[11%] text-center p-1 cursor-pointer" (click)="setTab('Mapping')">Mapping</div>
      <div [ngClass]="{'border-b-2 border-teal-500 text-[#4cb2b2]': selectedTab=='Application'}" class=" w-[11%] text-center p-1 cursor-pointer" (click)="setTab('Application')">Application Groups</div>
      <!-- <input type="text" class="rounded border" placeholder="Search"> -->
        <!-- Search + Table -->

    </div>
    @if(selectedTab=='Productivity'){
      <app-productivity-profile></app-productivity-profile>
    }
    @else if (selectedTab=='Mapping') {
      <app-mapping></app-mapping>
    }
    @else {
      <app-application-group-master></app-application-group-master>
    }
  </div>
<router-outlet></router-outlet>

